body {
    background: linear-gradient(45deg, #d1c7da, #262b35);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    overflow-x: hidden;
    a {
        color: antiquewhite;
        text-decoration: none;
       
    }
}

header{
   background-color: rgb(61, 57, 52);
   padding: 1rem 0;
   display: flex;
   justify-content: center;
   gap: 1rem;
}

.github_texto {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: underline blue;
    a{
        color: rgb(23, 107, 180);
    }
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(61, 57, 52);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}