body{
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-image: url(https://pt.quizur.com/_image?href=https://static.quizur.com/i/b/58b5f50c911f38.7528648358b5f50c8336c4.06059735.jpg&w=1024&h=1024&f=webp);
    background-color: #d3e0e0;
    background-repeat: no-repeat;
    background-size: 100%;
    gap: 1rem;
}
h1{
    color: #1a1f22;
    text-align: center;
    text-shadow: 1px 1px 3px gray;
    font-size: 2rem;
}
h2{
  
    color: rgb(13, 19, 19);

}
p{
    text-align: justify;
}

main{
  background: radial-gradient(circle, rgb(77, 45, 45), rgb(151, 126, 126) 70%);
  max-width: 600px;
  min-width: 390px;
    width: 40%;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #434545
}
main h2 {
  display: flex;
  justify-content: center;
}
.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  .lora-light {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 300; /* Fina */
    font-style: normal;
  }
  
  .lora-bold {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700; /* Negrito */
    font-style: normal;
  }
  